body {
	margin: 0;
}

#app {
	height: 100vh;
}

.horiz {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
}

.verti {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
}

.smallw {
	max-width: 200px;
}


.rotate {
  writing-mode: vertical-lr;
}

a {
  background: none;
  border: none;
  padding-inline: 15px;
  padding-left: 0;
  text-decoration: underline;
  color: var(--fg);
  font-family: "Roboto";
}
a:hover {
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .content {
    display: none;
  }
  .smallw {
	  max-width: 400px;
  }
}

h2 {
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h1 {
  font-size: 45px;
}

:root {
  /* --fg: #DAD0AE;
  --bg: #5C2627; */

  /* --fg: #034460;
  --bg: #EAE1CB; */

  /* --fg: #144D4D;
  --bg: #F6E5C6; */

  /* --bg: #B9D7D6;
  --fg: #144D4D; */

  --bg: #E5E9EC;
  --fg: #593D3B;
  color: var(--fg);
  background-color: var(--bg);
  font-family: "Roboto";
  font-weight: 600;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"), url("/fonts/Roboto/Roboto-Black.ttf") format("ttf");
  font-display: auto;
  font-weight: 900;
  font-style: normal;
}

li {
	list-style-type: none;
}
